.wrapper {
    font-family: 'Gotham', sans-serif;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    gap: 5%;
    text-align: center;
}

.wrapper h1 {
    font-size: 100px;
    color: white;
    text-shadow: 4px 14px 20px red;
}

.wrapper a {
    font-weight: 900;
    font-size: 60px;
    color: red;
    text-shadow: 4px 14px 10px red;

}

@media (max-width:1200px) {
    .wrapper h1 {
        font-size: 80px;
    }
}

@media (max-width: 992px) {
    .wrapper h1 {
        font-size: 50px;
    }

    .wrapper a {
        font-size: 40px;
    }
}

@media (max-width:767px) {
    .wrapper h1 {
        font-size: 20px;
    }

    .wrapper a {
        font-size: 18px;
    }
}